# Service configuration
SERVICE_NAME=knowledge-service
PORT=8000
APP_ENV=development
LOG_LEVEL=INFO

# Persistence configuration
MONGODB_URL=mongodb://localhost:27017
KNOWLEDGE_DATABASE_NAME=call_e_knowledge
